// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*.fc-event-skin {
    background-color: #3366CC;
    border-color: #3366CC;
    color: #FFFFFF;
}*/

.confirmed, .fc-agenda .confirmed .fc-event-time, .confirmed a,  .confirmed .fc-event-skin {
    background-color: #ceecc9; /* background color */
    border-color: #ceecc9;     /* border color */
    color: #000;           /* text color */
    }

.tentative, .fc-agenda .tentative .fc-event-time, .tentative a, .tentative .fc-event-skin {
   background-color: #f8f1e7; /* background color */
   border-color: #f8f1e7;     /* border color */
   color: #000;           /* text color */
   }


.personal, .fc-agenda .personal .fc-event-time, .personal a, .personal .fc-event-skin {
    background-color: #eae4f0; /* background color */
    border-color: #eae4f0;     /* border color */
    color: #000;           /* text color */
    }

.personal, .fc-agenda .personal .fc-event-time, .personal a, .personal .fc-event-skin {
   background-color: #f00; /* background color */
   border-color: #f00;     /* border color */
   color: #000;           /* text color */
   }